@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-color: #617c3c;
  --secondary-color: #eceda2;
  --accent-color: #e0b973;
  --blue-color: #14274a;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-blue: var(--blue-color);
  --font-primary: var(--font-alice-sans);
  --font-secondary: var(--font-montserrat-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat-sans), sans-serif;
}

.hero {
  background: url("/assets/hero.jpg") no-repeat center center;
  background-size: cover;
}

.nav-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--background);
}
